.mainHeader {
    font-family: 'Tilt Neon', sans-serif;
    text-align: center;
    color: #f5e218;
    margin: 20px;
  }
  
  #mainHeaderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .socialIcons {
    margin-top: 10px;
    color: #f5e218;
    font-size: 30px;
    cursor: pointer;
  }