nav {
    font-family: 'Tilt Neon', sans-serif;
    color: #f5e218;
    position: fixed;
    top: 20px;
    left: 20px;
}

ul {
    position: fixed;
    margin: 0;
    list-style-type: none;
    padding: 0;
    top: 20px;
    left: 20px;
}