#paintBrush {
    font-family: 'Tilt Neon', sans-serif;
    color: #f5e218;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

#yellowCircle {
    color: #f5e218;
    left: 45%;
}

#redCircle {
    color: #ff0000;
    left: 50%;
}

#blueCircle {
    color: #00FFFF;
    left: 55%;
}

.colourCircle {
    position: fixed;
    padding-top: 27px;
}