.projectHeaderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.projectHeader {
    font-family: 'Tilt Neon', sans-serif;
    text-align: center;
    color: #f5e218;
    margin: 20px;
}

.projectsSubText {
    font-family: 'Tilt Neon', sans-serif;
    margin-top: 10px;
    margin: 5px;
    color: #f5e218;
  }

  .socialIcons {
    margin-bottom: 15px;
    color: #f5e218;
    font-size: 25px;
    cursor: pointer;
  }

  .github {
    font-size: 40px;
    cursor: pointer;
  }