html {
  min-height: 100vh;
}

.App {
  text-align: center;
}

.mainHeader {
  font-family: 'Tilt Neon', sans-serif;
  text-align: center;
  color: #f5e218;
  margin: 10px;
}
#mainHeaderText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}